* {
    box-sizing: border-box; 
  }
  body {
    margin: 0;
  }
  #main {
    display: flex;
    min-height: calc(100vh - 40vh);
  }
  #main > article {
    flex: 1;
    font-size: x-large;
  }
  #main > nav, 
  #main > aside {
    flex: 0 0 20vw;
    background: beige;
    font-size: x-large;
  }
  #main > nav {
    order: -1;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }
  header, footer {
    background: rgb(250, 253, 74);
    height: 28vh;
    font-size: xx-large;
    font-variant: small-caps;
    font-style: oblique;
  }
  .p1 {
    text-align: center;
    font-variant: small-caps;
    font-style: oblique;
  }
  .a1 {
      text-align: center;
      font-variant: small-caps;
      font-style: oblique;
  }
  .nv1 {
      text-align: center;
      font-variant: small-caps;
      font-style: oblique;
  }
  .art1 {
      text-align: center;
      margin-top: 130px ;
      font-variant: small-caps;
      font-style: oblique;
  }
  .asd1 {
      text-align: center;
      font-variant: small-caps;
      font-style: oblique;
  }
  .lab {
    text-align: center;
    font-size: xx-large;
  }